
.ul_container{
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    padding-left: 0px;
    align-items: center;
    display: flex;
}

.li_container{
    border: none;
    list-style: none;
    float: left;
    margin: 0.2rem;
    text-align: center;
}

.li_container button{
    color: #fa6da1;
    background-color: white;
    width: 2.1rem;
    padding: 0.5rem 0.7rem;
    border-radius: 25%;
    border: 1px solid #fa6da1;
    text-align: center;
    transition: 0.5s;
}

.li_container button:hover{
    transition: 0.5s;
    background: #ffc3d9;
}